* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #ccc;
}

.box.active {
  animation: move 2s linear;

}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(100vw - 50px));
  }
  100% {
    transform: translateX(0);
  }
}


